@tailwind base;
@tailwind components;
@tailwind utilities;

@import './themeSwitch.scss';

@layer base {
    body {
        @apply flex flex-col items-center font-[Roboto] pt-10 min-h-screen bg-[#f1f1f1];
        #root {
            @apply w-[600px] max-w-[96%] overflow-hidden;
            .themeIcon {
                path, rect, line {
                    @apply stroke-lightPrimary;
                }
            }
        }
    }
    .darkTheme {
        background-color: rgb(15, 15, 15);
        color: #f8f8f8;
        #root {
            .themeIcon {
                path, rect, line {
                    @apply stroke-darkPrimary;
                }
            }
            input {
                background-color: #000000;
            }
        }
    }
}
